.add-new-group-paper{
    padding: 20px !important;
    min-width: 400px !important;
}

.add-new-group-dialog > div > div{
    overflow-y: visible !important;
    text-align: center;
}

.add-new-group-title{
    padding: 10px 0px 20px 0px !important;
}


@media only screen and (max-width: 710px) {

    .add-new-group-dialog > div > div{
        margin: 20px !important;
        overflow-y: auto !important;
    }

    .add-new-group-paper{
        padding: 10px;
        min-width: 80% !important;
        max-width: 80% !important;
    }

    .chips-paper{
        position: relative !important;
        z-index: 10 !important;
        left: 0;
        right: 0;
    }
}