.main-component{
  height: 100%;
}

.not-found{
  color: #f03228;
  font-weight: bold !important;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
}

.loading{
  width: 100px !important;
  height: 100px !important;
  color: #f18f01 !important;
}

.white-text{
  color:white !important;
}
