.paper-tabs{
    width: 55% !important;
    float: left;
    margin-top: 30px;
    height: 500px;
    background-color: #99c24d !important;
}

.tabs {
    background-color: #99c24d !important;
}

.tabs > div > div > span{
    background-color: black !important;
}

.list-friends-groups {
    position: relative !important;
    overflow-y: auto !important;
    height: 405px !important;
    background-color: #f3f2f2 !important;
}

.list-item-link-friends-groups:hover{
    text-decoration: none !important;
}

.list-item-friends-groups:hover{
    background-color:  #827d80 !important;
    text-decoration: none !important;
}

.list-item-icon-friends-groups{
    font-size: 55px !important;
}

.list-name-friends-groups {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.list-total-friends-groups {
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .paper-tabs{
        width: 100% !important;
        height: 300px;
    }

    .list-friends-groups{
        height: 205px !important;
    }

    .list-item-icon-friends-groups{
        font-size: 45px !important;
    }

    .list-name-friends-groups {
        font-size: 1em;
    }

    .list-total-friends-groups {
        font-size: 0.9em;
    }


}